.legacy-card-selected {
  width: fit-content;
  margin: 20px auto 0;
}

.legacy-card-selected .Polaris-LegacyCard {
  padding: 10px;
}

.legacy-card-selected ul {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.legacy-card-selected .Polaris-Text--root {
  font-weight: 600;
  font-size: 15px;
  padding: 5px 3px;
}
